commonfunction/Web References/localhost/sendpdfmail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sendmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="billno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendmailSoapIn">
    <wsdl:part name="parameters" element="tns:sendmail" />
  </wsdl:message>
  <wsdl:message name="sendmailSoapOut">
    <wsdl:part name="parameters" element="tns:sendmailResponse" />
  </wsdl:message>
  <wsdl:portType name="sendpdfmailSoap">
    <wsdl:operation name="sendmail">
      <wsdl:input message="tns:sendmailSoapIn" />
      <wsdl:output message="tns:sendmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sendpdfmailSoap" type="tns:sendpdfmailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendmail">
      <soap:operation soapAction="http://tempuri.org/sendmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sendpdfmailSoap12" type="tns:sendpdfmailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendmail">
      <soap12:operation soapAction="http://tempuri.org/sendmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sendpdfmail">
    <wsdl:port name="sendpdfmailSoap" binding="tns:sendpdfmailSoap">
      <soap:address location="http://localhost:4443/wm/sendpdfmail.asmx" />
    </wsdl:port>
    <wsdl:port name="sendpdfmailSoap12" binding="tns:sendpdfmailSoap12">
      <soap12:address location="http://localhost:4443/wm/sendpdfmail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>